@model LUDALA.Models.ContenidoRssFeed
@{
    ViewBag.Title = "Entretenimiento";
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.EjecutarAjax(window._urlEntretenimiento, "AgregarDivReedFeed", '');
        });

    </script>
 }
@Html.Partial("Variables")
<h2>Entretenimiento</h2>
<div id="Titulo"></div>
<div >
    <ul id ="items"> </ul>
</div>
